name: "Deployer"

on: 
  push:
    tags:
      - "*"

jobs:

  tutorials: #################################################################
    runs-on: ubuntu-latest
    env:
      TUTORIAL_TIMEOUT: 1200s
    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        python3 -m pip install --upgrade pip .[tutorial] black[jupyter]

    - name: Setup FFmpeg
      uses: FedericoCarboni/setup-ffmpeg@v2

    - name: Run formatter
      run: black tutorials/

    - name: Export tutorials to .html
      run: |
        set -x
        for file in $(find tutorials -type f -name "*.ipynb"); do
          filename=$(basename $file)
          htmlfilename="${filename%.ipynb}.html"
          htmldir="docs/source"/$(dirname $file)
          mkdir -p $htmldir
          timeout --signal=SIGKILL $TUTORIAL_TIMEOUT python -Xfrozen_modules=off -m jupyter nbconvert --execute $file --to html --output $htmlfilename --output-dir=$htmldir
        break
        done
        set +x

    - name: Remove unwanted files
      run: |
        rm -rf build/ tutorials/tutorial4/data/

    - name: Upload tutorials artifact
      uses: actions/upload-artifact@v4
      with:
        name: tutorials
        path: |
          docs/source/tutorials/**/*.html

  docs: #######################################################################
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Install Python dependencies
      run: python3 -m pip install .[doc]

    - name: Build Documentation
      run: |
        make html
      working-directory: docs/

    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        #deploy_key: ${{ secrets.DEPLOY_PRIVATE_KEY }}
        publish_dir: ./docs/build/html
        allow_empty_commit: true

  release_github: #############################################################
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v4
    - uses: ncipollo/release-action@v1
      with:
        token: ${{ secrets.GITHUB_TOKEN }}

  pypi: #######################################################################
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Install build
      run: >-
        python -m pip install build --user

    - name: Build a binary wheel and a source tarball
      run: >-
        python -m build --sdist --wheel --outdir dist/ .

    - name: Publish distribution to PyPI
      if: startsWith(github.ref, 'refs/tags')
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        password: ${{ secrets.PYPI_API_TOKEN }}