name: "Export Tutorial on Comment"

on:
  issue_comment:
    types: [created]

jobs:
  export_on_comment:
    if: github.event.issue.pull_request && startsWith(github.event.comment.body, '/tutorial-exporter')
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: read
    env:
      TUTORIAL_TIMEOUT: 1200s

    steps:
      # Detect PR branch from comment
      - name: Get PR branch from comment
        uses: xt0rted/pull-request-comment-branch@v1
        id: comment-branch

      - name: Set latest commit status as pending
        uses: myrotvorets/set-commit-status-action@master
        with:
          sha: ${{ steps.comment-branch.outputs.head_sha }}
          token: ${{ secrets.GITHUB_TOKEN }}
          status: pending

      # Checkout the PR branch
      - name: Checkout PR branch ${{ steps.comment-branch.outputs.head_ref }}
        uses: actions/checkout@v3
        with:
          ref: ${{ steps.comment-branch.outputs.head_ref }}

      # Setup Python
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.10

      # Install dependencies
      - name: Install dependencies
        run: python3 -m pip install --upgrade pip .[tutorial] black[jupyter]

      # Setup FFmpeg (if needed)
      - name: Setup FFmpeg
        uses: FedericoCarboni/setup-ffmpeg@v2

      # Format notebooks
      - name: Run formatter
        run: black tutorials/

      # Export the tutorial to .py
      - name: Export tutorial to .py
        run: |
          set -euo pipefail
          COMMENT_BODY="${{ github.event.comment.body }}"
          TUTORIAL_NUM=$(echo "$COMMENT_BODY" | awk '{print $2}')
          FILE="tutorials/tutorial${TUTORIAL_NUM}.ipynb"

          if [[ -f "$FILE" ]]; then
            echo "Exporting $FILE"
            PYFILENAME="${FILE%.ipynb}.py"
            timeout --signal=SIGKILL $TUTORIAL_TIMEOUT \
              python -Xfrozen_modules=off -m jupyter nbconvert \
              "$FILE" --to python --output "$PYFILENAME" --output-dir=$(dirname "$FILE")
          else
            echo "Tutorial $TUTORIAL_NUM not found: $FILE"
            exit 1
          fi

      # Create a PR
      - uses: benjlevesque/short-sha@v2.1
        id: short-sha

      - name: Remove unwanted files
        run: |
          rm -rf build/
          rm -rf tutorials/tutorial12/SegTrackv2/

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5.0.2
        with:
          labels: maintenance
          title: Export tutorial to .py in ${{ steps.short-sha.outputs.sha }}
          branch: export-tutorial-${{ steps.short-sha.outputs.sha }}
          commit-message: export tutorial to .py in ${{ steps.short-sha.outputs.sha }}
          delete-branch: true

      - name: Add workflow result as comment on PR
        uses: actions/github-script@v6
        if: always()
        with:
          script: |
            const name = '${{ github.workflow	}}';
            const url = '${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}';
            const success = '${{ job.status }}' === 'success';
            const body = `${name}: ${success ? 'succeeded ✅' : 'failed ❌'}\n${url}`;

            await github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: body
            })

      - name: Set latest commit status as ${{ job.status }}
        uses: myrotvorets/set-commit-status-action@master
        if: always()
        with:
          sha: ${{ steps.comment-branch.outputs.head_sha }}
          token: ${{ secrets.GITHUB_TOKEN }}
          status: ${{ job.status }}